<% include ../partials/header %>

<div class="container">
    <header id="new_header">
        <h1>Edit <%= campground.name %></h1>
    </header>
    <form id ="new_form" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="campground_name">Name</label>
            <input id="campground_name" class="form-control" type="text" value="<%= campground.name %>" name = "campground[name]">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>
        <div class="form-group">
            <label for="campground_location">Location</label>
            <input id="campground_location" class="form-control" type="text" value="<%= campground.location %>" name = "location">
        </div>
        <div class="form-group">
            <label for="campground_price">Price</label>
            <input id="campground_price" class="form-control" type="number" min="0.01" step="0.01" value="<%= campground.price %>" name = "campground[price]">
        </div>
        <div class="form-group">
            <label for="campground_description">Description</label>
            <textarea id="campground_description" class="form-control"  name = "campground[description]"><%= campground.description %></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block">Update<%= campground.name %></button>
        </div>
        <a href="/campgrounds">Back</a>
    </form>
    
</div>

<% include ../partials/footer %>